@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.btn{
    display: inline-block;
    color: #29d9d5;
    letter-spacing: 0.1rem;
    padding: 1rem;
    border: 1px solid #29d9d5;
    border-radius: 30px;
    font-weight: bolder;
}

.btn:hover{
    border: none;
    background-color: #29d9d5;
    color: black;
    cursor: pointer;
}

header {
    top: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(36, 13, 13);;
    display: flex;
    justify-content: space-evenly;
    height: 7rem;
    position: fixed;
    z-index: 1000;
}

header .logo span:nth-child(1){
    font-size: 50px;
    color: white;
}
header .logo span:nth-child(2){
    text-transform: capitalize;
    border-style: none;
    text-decoration: none;
    margin-top: -10px;
    font-size: 50px;
    color: white;
}

header .logo span span{
    font-size: 2rem;
    padding: 0 7%;
}

header .logo{
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 2rem 0;
    gap: 2;
    font-weight: bolder;
}

header .logo i{
    color: #29d9d5;
    margin-right: 25px;
}


header .navbar a{
    color: #fff;
    text-decoration: none;
    padding: 1.6rem 0.6rem;
    font-size: 1.2rem;
    
}

header .navbar a:hover{
    color: #29d9d5;
}


.home{
    margin-right: 50rem;
    margin-left: 100px;
    width: 83%; 
    margin-top: 150px;  
    position: absolute;
    color: black;
    border-radius: 20px;
    /* border: 2px solid #29d9d5; */
    background-color: antiquewhite;
}

.home .blog{
    /* word-wrap: nowrap;
    overflow: hidden; */
    border-radius: 10%;
    transform: ro;
}

.home .blog h1{
    color: blue;
    padding: 0.9rem;
}
.home .blog p{
    padding: 0px 0px 15px 15px;
}

/* gallery */

.gallery{

    margin: 0 6.5rem;
    display: flex;  
    flex-direction: column;
}

.gallery .photos{
    border-radius: 10px;
    /* border: 10px solid rebeccapurple; */
    gap: 0.8rem;
    margin-right: -150px;
    margin-top: 310px;
    /* display: flex;
    flex-direction: row; */
    /* overflow: scroll; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.gallery .photos .box{
    width: 100%;
    margin: 0%;
}

/* .gallery .photos .box{
    width: 20px;
    border: 1px solid saddlebrown;
    display: grid;
    padding-right: 0;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
} */

.gallery .photos .box .image{
    /* border: 2px solid red; */
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    width: 350px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
}

.gallery .photos .box .image:hover{
    z-index: 1000;
    opacity: 0.8;
    background-color: #29d9d5;
}


.gallery .photos .box .image .material-symbols-outlined {
    display: none;
    transition: .2s linear;
}

.gallery .photos .box .image:hover .material-symbols-outlined {
    color: white;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
    display: flex;
    font-size: 60px;
    /* margin: 10%; */
    margin-left: 135px;
    margin-top: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.gallery .photos .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .journey
{
    background-image: url(./sea.avif) no-repeat cover ;
    object-fit: cover;
    color: black;
    margin: 80px 0px ;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.journey h4{
    color: #29d9d5;
}

.journey h1{
    color: white;
}

.journey p{
    width: 50%;
} */

.banner
{
    margin-top: 20px;
    background: url('./sea.avif') no-repeat center center/cover;
    text-align: center;
    height: 200px;
}
.banner .start
{
    font-size: 25px;
    color: white;
    font-weight: 100;   
    /* padding-top: 50px; */
}
.banner h1
{
    font-size: 30px;
    color: white;


}
.banner .content
{
    margin: auto;
    width: 50%;
    /* border: 2px solid red; */
    font-size: 10px;
    /* padding-top: px; */
    color: white;
    margin-bottom: 10px;
}

.banner btn{
    padding: 0%;
    color: white;
}

/* footer */
#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    background-color: black;
}

#footer .innerfooter {
    margin: 3rem auto;
}

#footer .innerfooter h3 {
    font-size: 1.5rem;
    color: white;
    padding: 1rem auto;
}

#footer .innerfooter p {
    font-size: 1.1rem;
    color: rgb(207, 206, 206);
    padding: 1rem auto;
    line-height: 3;
}


/* #footer .innerfooter p i {
    color: #29d9d5;
    padding-right: 1rem;
} */

#footer .innerfooter .footericons {
    padding-top: 1rem;
}

#footer .innerfooter .footericons a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #29d9d5;
    border: 2px solid #29d9d5;
    border-radius: 50%;
    text-decoration: none;
    margin-right: .5rem;
}

#footer .innerfooter .footericons a:hover {
    background: #29d9d5;
    color: black;
}

#footer .innerfooter form .inputemail {
    width: 80%;
    background: none;
    font-size: 1rem;
    text-transform: none;
    color: rgb(207, 206, 206);
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #29d9d5;
    border-radius: 2rem;
}

#footer .innerfooter form .pagebutton {
    background: none;
}

#footer .innerfooter form .pagebutton:hover {
    background-color: #29d9d5;
    color: #111;
}

#footer .innerfooter span{
    margin-top: -10px;
    padding: 15px;
}